[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

textblob = "*"
requests = "*"
telepot = "*"
tweepy = "*"
python-bittrex = "*"
pillow = "*"
pytesseract = "*"


[requires]

python_version = "3.6"
